# Virtual Environment
.venv/
venv/
ENV/

# Uploads
uploads/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# uploaded files
uploads/

# SQLite Database
instance/
*.db

# Streamlit
# .streamlit/config.toml
# !.streamlit/

# OS specific
.DS_Store
Thumbs.db

# Node
node_modules/

# Secrets
.env
secret_key.txt